body {
  background: #faf6e8;
}
.app {
	position: relative;
	width: 100%;
	height: 100%;
  font-size: 1.4rem;
  font-family: NotoSansMedium;
}

h1 {
	text-align: center;
	font-weight: 100;
}

/*--- LINK ---*/
a {
  color: #364f6b;
  text-decoration: none;
}
a:hover {
  color: #3fc1c9;
}


.basicFont {
	font-family: 'NotoSansMedium', sans-serif !important;
  }

  @font-face {
	font-family:'NotoSansBlack';
	src: url('../assets/fonts/NotoSansKR-Black.otf') format('opentype');

  }
  @font-face {
	font-family:'NotoSansBold';
	src: url('../assets/fonts/NotoSansKR-Bold.otf') format('opentype');

  }
  @font-face {
	font-family:'NotoSansLight';
	src: url('../assets/fonts/NotoSansKR-Light.otf') format('opentype');

  }
  @font-face {
	font-family:'NotoSansMedium';
	src: url('../assets/fonts/NotoSansKR-Medium.otf') format('opentype');

  }
  @font-face {
	font-family:'NotoSansRegular';
	src: url('../assets/fonts/NotoSansKR-Regular.otf') format('opentype');

  }
  @font-face {
	font-family:'NotoSansThin';
	src: url('../assets/fonts/NotoSansKR-Thin.otf') format('opentype');

  }

  .mainFont{

	font-family: 'MPLUSRounded1cBold', sans-serif !important;
  }

  @font-face {
	font-family:'MPLUSRounded1cBold';
	src: url('../assets/fonts/MPLUSRounded1c-Bold.ttf') format('truetype');

  }

  